body
{
    background-color: #fbd139;
}

h1
{
    color:black;
    background-color: cornsilk;
}

#show_sketch
{
    float:right;
}

canvas
{
    border: 5px solid white;
    border-radius: 20px;
    animation-name: example;
    animation-duration: 4s;
    margin-top:50px;  
    animation-iteration-count: infinite;
}

@keyframes example
{
    from {box-shadow: 5px 4px 50px orange}
    to {box-shadow: 5px 4px 50px red}
}

p
   {
      padding-top: 10px;
        font-size: 25px;
   }